@import "./wave.css";

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



h1 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    margin: 0px;
}

.btn{
    width: 60vw;
    height: 60vh;
    position:relative;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    overflow:hidden;
    -webkit-user-select:none;
    user-select:none;
  }


svg {
    width: 60vw;
    height: 60vh;
    overflow:hidden;
    -webkit-user-select:none;
    user-select:none;
    position:relative;
    background-color: rgb(248, 255, 145);
    border-radius: 5px;

}

circle {
    color: blue;
}

.circle-inactive {
    display: none;
}

body {
    background-color: #e8e8e8;
}

.countdown {
    font-size: 48px;
    color: rgb(219, 9, 9);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* transition: none; */
    transition: 0.5s ease-in;
  }

  .countdown-active {
    color: rgb(174, 145, 255);
    transition: 0.5s ease-in;
}