@import "./wave.css";

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



h1 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
}

#fire-range {
    width: 60vw;
    height: 60vh;
    border: solid;
    background-color: blueviolet;
    
}


svg {
    width: 60vw;
    height: 60vh;
    background-color: rgb(248, 255, 145);
    overflow:hidden;
    -webkit-user-select:none;
    user-select:none;
    position:relative
}

circle {
    color: blue;
}

body {
    background-color: #e8e8e8;
}