.wave{
    position:absolute;
    width:300px;
    height:300px;
    margin:-150px 0 0 -150px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    z-index:0;
    background: -webkit-radial-gradient(circle,#fff,#b91f1f);
    background: -moz-radial-gradient(circle,#311717,#701111);
    background: radial-gradient(circle,#ffffff,#ff0000);
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.7s ease-out;
    -webkit-transform:scale(0,0) translate3d(0,0,0);
    -moz-transform:scale(0,0) translate3d(0,0,0);
    -ms-transform:scale(0,0) translate3d(0,0,0);
    -o-transform:scale(0,0) translate3d(0,0,0);
    transform:scale(0,0) translate3d(0,0,0);
    opacity:1;
    pointer-events:none;
  }
  .wave-ani{
    -webkit-transform:scale(1,1) translate3d(0,0,0);
    -moz-transform:scale(1,1) translate3d(0,0,0);
    -ms-transform:scale(1,1) translate3d(0,0,0);
    -o-transform:scale(1,1) translate3d(0,0,0);
    transform:scale(1,1) translate3d(0,0,0);
    opacity:0;
  }

